.disCountPrice {
  display: flex;
  align-items: center;
  column-gap: 2em;
  margin: 0.5em auto;
  .perc {
    font-size: 1.3em;
    color: red;
  }
  .priceCont {
    position: relative;
    .dollarSign {
      position: absolute;
      top: 0%;
      left: -0.5em;
      font-size: 1.1em; /* Adjust font size as needed */
      color: #333; /* Adjust color as needed */
    }
    .disPrice {
      font-size: 1.8em;
      font-weight: 500;
    }
  }
}
